@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    position: fixed;
    bottom: 0;
    right: 20%;
    width: 15rem;
    height: 5rem;
    border-radius: 1rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.cross {
    position:absolute;
    top:0.6rem;
    right:0.6rem;
}

.modal span {
cursor:pointer;
}


.fade {
transition: opacity 2s;
  }
  
.fade.out {
   visibility:hidden;
   opacity:0;
  }
.fade.in {
    opacity: 1;
  }

@keyframes fading {
    from {
visibility: hidden;
    }
    to {
visibility:visible;
    }
}


.visible {
    visibility:visible;
    display:block !important;
    color:black
}
.hidden {
visibility: hidden;
}
.modal div {
    cursor: pointer;
    text-align: center;
    width: 1.8rem;
    height: 1.5rem;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    padding-top: 3px;
    right: -5px;
    top: -10px;
    color: white;   
}
* {
box-sizing:border-box;
}
main{
 padding-inline: 30%;
}

body {

color: rgb(132, 135, 132);
font-family: 'Roboto', sans-serif;
font-weight: bold;
}

form label {
    color: green;
}

h1 {
    color: rgb(14, 131, 14);
    font-size: 2.5rem;
}

h2{
    color: black;
}
form input {
    padding: 0 10px;
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    outline: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    border-color: rgb(164, 164, 164);
    border-style: solid;
    background-color: rgb(245, 245, 245);
    opacity: 50%;
}
form input:hover {
  opacity:unset;
  background-color: white;
  border-color: rgb(44, 211, 44);
}
a {
    text-decoration: none;
    opacity: 50%;
    color: rgb(44, 211, 44);
}
a:hover {
  opacity: unset;
}
.form_container {
    width: 100%;
}

form {
width: 100%;
}
form span:not(.visible) {
    display: none;
    color: red;
    font-size: 13px;
    font-weight: lighter;
}
form input:invalid[focused="true"] ~ span {
    display: block;
}
.root {
    width: 50%;
}

tbody {
background-color:black
}
.search_container input {
    display:block;
    width:10%;
    height:2.5rem;
    margin-inline: auto 5px
}
.table_container  {
   position:relative;
}

nav select {
 position:unset;
   position:absolute !important;
   top:0;
   left:0;
   width:4rem;
}
nav {
   position:unset !important;
}
form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

form button {
    display: block;
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    color:white;
    background-color: green;
    margin:2rem auto;
}

form button:hover {
    opacity: 90%;
}
.address {
    width: 100%;
    margin-top: 10px;
    margin-left: unset;
    margin-right: unset;
    width: 100%;
    color: green;
    border-style: solid;
    border-color: rgb(183, 183, 183);
}

.address:hover {
    border-color: rgb(44, 211, 44);
    border-style: solid;
}

.address input {
    width: 100%;
}

form select {
    width: 100%;
    padding: 0 10px;
    height: 3rem;
    border-radius: 0.5rem;
    outline: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    border-color: rgb(164, 164, 164);
    border-style: solid;
    background-color: rgb(245, 245, 245);
    opacity: 50%;
}

select:hover {
    border-color: rgb(44, 211, 44);
    border-style: solid;
    border-radius: 4px;
}
